@model IEnumerable<MyFirstBlog.Models.Trip>


<div class="Container">
    <h2>Danh sách các bài viết chuyến đi</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Mã</td>
                    <td>Tên</td>
                    <td>Ngày viết</td>
                    <td>Người viết</td>
                    <td>Tóm tắt</td>
                    <td colspan="3"></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr id="row-@trip.postID">
                        <td>@trip.postID</td>
                        <td>@trip.postTitle</td>
                        <td>@trip.date.Value.ToString("MMMM dd,yyyy")</td>
                        <td>@MyFirstBlog.Common.Methods.findusernameByID((int)trip.userID)</td>
                        <td>@trip.postSummary</td>
                        <td>
                            <a class="btn btn-primary" href="/FriendsandMe/Trip?id=@trip.postID" target="_blank">Xem</a>
                        </td>
                        <td>
                            <a class="edit btn btn-primary" href="/FriendsandMe/EditTrip?id=@trip.postID" target="_blank">Sửa</a>
                        </td>
                        <td>
                            <a class="delete btn btn-danger" data-id="@trip.postID">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $(".delete").click(function () {
            var postid = $(this).attr("data-id");
            if (confirm("You're gonna delete this article. Are you sure?")) {
                $.ajax({
                    url: "/Admin/DeleteTrip",
                    type: "post",
                    data: { id: postid },
                    success: function (data) {
                            $("#row-" + postid).remove();
                    }
                })
            }
        })
    })
</script>    