@model MyFirstBlog.Models.previewTrip
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MyFirstBlog.Models;
@{
    var root = ViewBag.root;
    var data = new MyBlogDBModel();
    var photothumbnail = Model.imgThumbnail;
}
<div class="Container" style="margin-top: 50px;" id="trip-detail">
    <div class="row">
        <div class="col-sm-9">
            <div class="nav-top-article">
                <a href="/Home">Home</a> <i class="fa fa-angle-right"></i><a href="/FriendsandMe/Trips">Trips</a>
            </div>
            <article id="" class="">
                <h1 style="color:red">Bài đăng sẽ được hiển thị sau khi tôi xác nhận</h1>
                <h2>
                    @Model.postTitle
            </h2>
            <small>@Model.date.Value.ToString("MMMM dd,yyyy")</small><br />
            <small>Written by:<a class="author" href="#"> @data.userInfoes.Where(u => u.userID == Model.userID).FirstOrDefault().name</a></small>
            <div class="post-content">
                @Html.Raw(Model.postContent)
            </div>
        </article>
        <h3>Xem thêm hình ảnh trong chuyến đi này: <a href="@Model.imageFolder"><small>Tại đây</small></a></h3>
        <div class="facebook-plugin-daily-post">
            @{
                var str = "http://dangduoc.azurewebsites.net/FriendsandMe/Trip?id=" + Model.postID.ToString();
                <div class="fb-like" data-href='@str' data-width="30" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="display:block"></div>
                <h2>Comment</h2>
                <div class="fb-comments" data-href='@str' data-width="100%" data-numposts="5"></div>
            }
        </div>
    </div>
    <div class="col-sm-3" id="aside">
        
    </div>
</div>
<style>
    @@media (max-width: 760px) {
        #aside {
            display: none;
        }
    }

    .stick {
        position: fixed;
        top: 50px;
        right: 0px;
        height: 100vh;
    }

    .stick-bottom {
        position: absolute;
        bottom: 0;
        right: 0px;
    }
</style>
</div>